.card {
    display: flex;
    padding: 0.5rem;   
}
.card video {
    width: 100%; 
    height: auto; 
    max-width: 50rem; /* Largura máxima do vídeo */
    max-height: 18rem; /* Altura máxima do vídeo */
    border-radius: 8px;
}

.card a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit;
    font-size: 15px;
    background-color:#f9f9f9;
    box-shadow: 0 0 20px black;
    border-radius: 8px;
    padding: 2px;    
    height: 325px;
    display: table-header-group;
    top: 0;
    
  
}
