.card {
    display: flex;
    padding-bottom: 1rem;   
}
.card video {
    width: 100%; 
    height: auto; 
    max-width: 50rem; /* Largura máxima do vídeo */
    max-height: 18rem; /* Altura máxima do vídeo */
    border-radius: 8px;
}

.card a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit;
    font-size: 12px;
    background-color: antiquewhite; 
    border-radius: 8px;
    border: 2px red ;
}
