.curri {
  display: flex;         /* Ativa o Flexbox */
  flex-direction: column; /* Alinha o conteúdo verticalmente */
  align-items: center;    /* Centraliza horizontalmente */ 
  justify-content: center; /* Centraliza verticalmente */
  width: 100%;            /* Garante que a seção ocupe a largura total */
}
